<header class="staff-header">
  <div class="staff-header-bar">
    <div>スタッフページ</div>
      <div class="header-staff-profile">
        <% if staff_member_signed_in? %>
          <div class="header-staff-department">
            <%= "#{current_staff_member.staff_department.name}" %>
          </div>
          <div class="header-staff-name">
            <%= "#{current_staff_member.staff_last_name} #{current_staff_member.staff_first_name}" %>
          </div>
          </div>
          <div class="staff-logo">
            <%= link_to '患者一覧ページへ', staff_members_path %>
            <%= link_to '新規患者登録ページへ', new_patient_path %>
            <%= link_to 'ログアウト', destroy_staff_member_session_path, data: {turbo_method: :delete} %>
          </div>
        <% end %>
  </div>
  # ここまでスタッフヘッダー
</header>