<%= render "staff_header" %>
<div>患者一覧</div>
  <% if @patients.any? %>
<table>
  <thead>
    <tr>
      <th>階</th>
      <th>部屋</th>
      <th>患者ID</th>
      <th>名前</th>
      <th>誕生日</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.floor %></td>
        <td><%= patient.room %></td>
        <td><%= patient.patient_number %></td>
        <td><%= "#{patient.patient_last_name} #{patient.patient_first_name}" %></td>
        <td><%= patient.birthday %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>

<%= render "/shared/footer" %>