<%= render "shared/header" %>

<div class="main">
  <div class="contents">
    <h1 class="title">患者情報修正</h1>

    <div class="content">
      <%= form_with model: @patient, local: true do |f| %>
      
        <%= render "shared/error_message", model: f.object %>

        <div class="form-field">
          <label for="patient_number" class="form-name">患者ID</label>
          <%= f.text_field :patient_number, class: "input-field", placeholder: "患者ID" %>
        </div>
        <div class="form-field">
          <label for="patient_last_name" class="form-name">姓</label>
          <%= f.text_field :patient_last_name, class: "input-field" %>
        </div>
        <div class="form-field">
          <label for="patient_first_name" class="form-name">名</label>
          <%= f.text_field :patient_first_name, class: "input-field" %>
        </div>
        <div class="form-field">
          <label for="patient_last_name_kana" class="form-name">セイ</label>
          <%= f.text_field :patient_last_name_kana, class: "input-field", placeholder: "全角カタカナ" %>
        </div>
        <div class="form-field">
          <label for="patient_first_name_kana" class="form-name">メイ</label>
          <%= f.text_field :patient_first_name_kana, class: "input-field", placeholder: "全角カタカナ" %>
        </div>
        <div class="form-field">
          <label for="birthday" class="form-name">誕生日</label>
          <%= f.date_select :birthday, start_year: 1900, end_year: Date.today.year, default: Date.today, class: "date-select" %>
        </div>
        <div class="form-field">
          <label for="floor" class="form-name">病棟</label>
          <%= f.text_field :floor, class: "input-field",placeholder: "半角数字のみ" %>階
        </div>
        <div class="form-field">
          <label for="room" class="form-name">病室</label>
          <%= f.text_field :room, class: "input-field" ,placeholder: "半角数字のみ" %>号室
        </div>
        <div class="form-actions">
          <%= f.submit "登録する", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>