<%= render "/staff_members/staff_header" %>

<div>患者一覧patient index</div>
  <% if @patients.present? %>
    <table>
      <thead>
        <tr>
          <th>階</th>
          <th>部屋</th>
          <th>患者ID</th>
          <th>名前</th>
          <th>フリガナ</th>
          <th>誕生日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.floor %></td>
            <td><%= patient.room %></td>
            <td><%= patient.patient_number %></td>
            <td><%= "#{patient.patient_last_name} #{patient.patient_first_name}" %></td>
            <td><%= "#{patient.patient_last_name_kana} #{patient.patient_first_name_kana}" %>
            <td><%= patient.birthday %></td>
            <td><%= link_to "詳細・編集ページへ", patient_path(patient) %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="calendar">
      <%= week_calendar events: @promises do |date| %>
        <% times.each do |time| %> <!-- 時間ごとに行を生成 -->
          <tr>
            <td><%= time.name %></td> <!-- 時間を左列に表示 -->

            <% 7.times do |i| %> <!-- 1週間分の列を生成 -->
              <% current_date = date.beginning_of_week + i.days %>
              <td>
                <%= Promise.status_for(current_date, time) %> <!-- 状態を表示 -->
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </div>
  <% end %>

<%= render "/shared/footer" %>