<%= render "/staff_members/staff_header" %>

<div class="patients-index-header">
  <h1>入院患者一覧</h1>
</div>

<% if @patients.present? %>
  <div class="patients-table-container">
    <table class="patients-table">
      <thead>
        <tr>
          <th>階</th>
          <th>部屋</th>
          <th>患者ID</th>
          <th>名前</th>
          <th>フリガナ</th>
          <th>誕生日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.floor %></td>
            <td><%= patient.room %></td>
            <td><%= patient.patient_number %></td>
            <td><%= "#{patient.patient_last_name} #{patient.patient_first_name}" %></td>
            <td><%= "#{patient.patient_last_name_kana} #{patient.patient_first_name_kana}" %></td>
            <td><%= patient.birthday %></td>
            <td><%= link_to "詳細・編集ページへ", patient_path(patient), class: "details-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="calendar">
    <%= week_calendar events: @promises do |date| %>
      <% times.each do |time| %>
        <tr>
          <td class="time-column"><%= time.name %></td>
          <% 7.times do |i| %>
            <% current_date = date.beginning_of_week + i.days %>
            <td class="status-column">
              <%= Promise.status_for(current_date, time) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </div>

<% else %>
  <div class="no-patients-message">現在、患者が登録されていません。</div>
<% end %>

<%= render "/shared/footer" %>