<%= render "shared/header" %>

<div class="main">
  <div class="contents">
    <h1 class="title">患者情報</h1>
  
    <div class="content">
      <div class="form-field">
        病棟: <%= @patient.floor %>階
      </div>
      <div class="form-field">
        病室: <%= @patient.room %>号室
      </div>
      <div class="form-field">
        ID: <%= @patient.patient_number %>
      </div>
      <div class="form-field">
        名前: <%= "#{@patient.patient_last_name} #{@patient.patient_first_name}" %>
      </div>
      <div class="form-field">
        フリガナ: <%= "#{@patient.patient_last_name_kana} #{@patient.patient_first_name_kana}" %>
      </div>
      <div class="form-field">
        生年月日: <%= @patient.birthday %>
      </div>

      <div class="form-actions">
        <%= link_to "編集する", edit_patient_path(@patient), class: "action-btn edit-btn" %>
        <%= link_to "削除する", patient_path(@patient.id), data: { turbo_method: :delete }, class: "action-btn delete-btn" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>