<%= render "/staff_members/staff_header" %>

<div class="patient-show-main">
  <div class="patient-field">
    <%= @patient.floor %>階
    <%= @patient.room %>号室
    ID：<%= @patient.patient_number %>
    名前<%= "#{@patient.patient_last_name} #{@patient.patient_first_name}" %>
    フリガナ<%= "#{@patient.patient_last_name_kana} #{@patient.patient_first_name_kana}" %>
    生年月日<%= @patient.birthday %>
  </div>
  <div class="patient-btn">
    <div class="patient-edit-btn">
      <%= link_to "編集する", edit_patient_path(@patient) %>
    </div>
    <div class="patient-delete-btn" >
      <%= link_to "削除する", "#" %>
    </div>
  </div>
</div>

<%= render "/shared/footer" %>