<div class="simple-calendar">
  <div class="calendar-heading">
    <span class="calendar-title">
      <% if calendar.number_of_weeks > 1 %>
        - <%= calendar.end_week %>
      <% end %>
    </span>

    <nav>
      <%= link_to t('simple_calendar.previous', default: '前週'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: '今日へ'), calendar.url_for_today_view %>
      <%= link_to t('simple_calendar.next', default: '次週'), calendar.url_for_next_view %>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= day.strftime("%-m/%-d") %></th> 
        <% end %>
      </tr>

      <tr>
        <th>時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <% times.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% week.each do |day| %>
              <td>
                <%= display_status(day, time) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
