<%= render "shared/header" %>

<div class="main">
  <div class="staff-form">
    <div class="page-heading">職員ログイン</div>
    
    <%= form_with model: resource, url: staff_member_session_path, local: true, data: { turbo: false } do |f| %>

      <div class="staff-form-field">
        <label class="form-name">メールアドレス</label>
        <%= f.email_field :email, class:"input-field", id:"email", placeholder:"email" %>
      </div>
      <div class="staff-form-field">
        <label class="form-name">パスワード</label>
        <%= f.password_field :password, class:"input-field", id:"staff_password", placeholder:"6文字以上の半角英数" %>
      </div>
      <div class="staff-form">
        <%= f.submit "ログイン", class:"register-btn" %>
      </div>

    <% end %>
<%= render "shared/footer" %>