<%= render "shared/header" %>

<div class="main">
  <div class="contents">
    <h1 class="title">職員新規登録ページ</h1>

    <div class="content">
      <%= form_with model: @staff_member, url: staff_member_registration_path, class: "registration-main", local: true do |f| %>
    
      <%= render "shared/error_message", model: f.object %>

        <div class="form-field">
          <label class="form-name">職員ID</label>
          <%= f.text_field :staff_number, class:"input-field", placeholder:"4文字の数字" %>
        </div>
        <div class="form-field">
          <label class="form-name">姓</label>
          <%= f.text_field :staff_last_name, class:"input-field" %>
        </div>
        <div class="form-field">
          <label class="form-name">名</label>
          <%= f.text_field :staff_first_name, class:"input-field" %>
        </div>
        <div class="form-field">
          <label class="form-name">部署</label>
          <%= f.collection_select(:staff_department_id, StaffDepartment.all, :id, :name, {}, { class:"input-field" }) %>
        </div>
        <div class="form-field">
          <label class="form-name">所属</label>
          <%= f.collection_select(:staff_affiliation_id, StaffAffiliation.all, :id, :name, {}, { class:"input-field" }) %>
        </div>
        <div class="form-field">
          <label class="form-name">メールアドレス</label>
          <%= f.email_field :email, class:"input-field", placeholder:"email" %>
        </div>
        <div class="form-field">
          <label class="form-name">パスワード</label>
          <%= f.password_field :password, class:"input-field",placeholder:"6文字以上の半角英数" %>
        </div>
        <div class="form-field">
          <label class="form-name">確認用パスワード</label>
          <%= f.password_field :password_confirmation, class:"input-field", placeholder:"同じパスワードを入力してください" %>
        </div>
        <div class="form-actions">
          <%= f.submit "新規登録", class:"btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>