<%= render "shared/header" %>

<div class="main">
  <div class="contents">
    <h1 class="title">患者様ご家族ログイン</h1>

    <div class="content">
      <%= form_with model: @family, url: new_family_session_path, class: 'registration-main', local: true do |f| %>

      <%= render "shared/error_message", model: f.object %>

        <div class="form-field">
          <label class="form-name">メールアドレス</label>
          <%= f.email_field :email, class:"input-field", placeholder:"email" %>
        </div>
        <div class="form-field">
          <label class="form-name">パスワード</label>
          <%= f.password_field :password, class:"input-field", placeholder:"6文字以上の半角英数" %>
        </div>
        <div class="form-actions">
          <%= f.submit "ログイン", class:"register-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>