<%= render "shared/header" %>

<div class="family-main">
  <div class="families">
    患者様ご家族新規登録
  </div>
  <div class="family-form">
    <%= form_with model: @family, url: new_family_session_path, class: 'registration-main', local: true do |f| %>

    <div class="family-form-field">
      <label class="form-name">メールアドレス</label>
      <%= f.email_field :email, class:"input_field" %>
    </div>

    <div class="family-form-field">
      <label class="form-name">パスワード</label>
      <%= f.password_field :password, class:"input_field" %>
    </div>

    <div class="family-form-field">
      <%= f.submit "ログイン", class:"register-btn" %>
    </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer" %>