<%= render "shared/header" %>

<div class="main">
  <div class="contents">
    <h1 class="title">予約時間変更</h1>

    <div class="content">
      <h3 class="content-title">現在の予約</h3>
      <table class="table">
        <thead>
          <tr>
            <th>患者名</th>
            <th>面会日</th>
            <th>時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= "#{@promise.patient.patient_last_name_kana} #{@promise.patient.patient_first_name_kana}" %>様</td>
            <td><%= @promise.day %></td>
            <td><%= @promise.meeting_time.name %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="content">
      <h3 class="content-title">予約変更後</h3>
      <%= form_with model: @promise, local: true do |f| %>
        <div class="form-field">
          <label class="form-name">面会日</label>
          <%= f.date_field :day %>
        </div>
        <div class="form-field">
          <label class="form-name">面会時間</label>
          <%= f.collection_select(:meeting_time_id, MeetingTime.all, :id, :name, {}, { class:"input-field" }) %>
        </div>
        <div class="form-actions">
          <%= f.submit "変更する", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>