<%= render "families/family_header" %>

<div>promise index page</div>

<div>面会予約一覧</div>

<% if @promises.present?%>
  <ul>
    <% @promises.each do |promise| %>
      <li>
      <strong>患者:</strong> <%= "#{promise.patient.patient_last_name_kana} #{promise.patient.patient_first_name_kana}" %>
      <strong>面会日:</strong> <%= promise.day %> |
      <strong>時間:</strong> <%= promise.meeting_time.name %>
      <%= link_to "詳細ページへ", promise_path(promise) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "面会予約へ", search_promises_path %>
<%= render "/shared/footer"%>